<!DOCTYPE html>
    {% load crispy_forms_tags %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h3>Login</h3>
<form  method="post">
    {% csrf_token %}


  {% for field in login_form %}
      <p>
          <h1>{{field.label_tag }}</h1>

          <h3>{{ field | as_crispy_field }}</h3>

          {% if field.help_text %}
                <small>{{field.help_text|as_crispy_field}}</small>
          {% endif %}

          {% for error in field.errors %}
                <p style="color: red">{{ error | as_crispy_field}}</p>
          {% endfor %}

      </p>
  {% endfor %}



  <button  type="submit">Login</button>

</form>

</body>
</html>