<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h3>Register</h3>
<form  method="post">
    {% csrf_token %}
    {% load crispy_forms_tags %}


  {% for field in registration_form %}
      <p>
        {% comment %}  {{field.label_tag}}  {% endcomment %}

          {{field | as_crispy_field }}

{% comment %}
          {% if field.help_text %}
                <small>{{field.help_text}}</small>
          {% endif %}

          {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
          {% endfor %}

          {% if login_form.non_field_errors %}
                <p style="color: red">{{ login_form.non_field_errors }}</p>
          {% endif %}
{% endcomment %}
      </p>
  {% endfor %}



  <button  type="submit">Register</button>

</form>

</body>
</html>