<footer>
    <div class="
          max-w-6xl
          mx-auto
          px-4
          sm:px-6
          py-10
          text-sm
          border-t border-gray-200
        ">
      <div class="footer justify-around">
        <a href="./terms.html">
          <p class="font-medium">Terms and Conditions</p>
        </a>

        <a href="./about.html">
          <p class="font-medium">About Us</p>
        </a>
        <a href="./contact.html">
          <p class="font-medium">Contact Us</p>
        </a>
      </div>

    </div>
</footer>