{% extends 'new/base.html' %}
{% block title %}TAMARPAT{% endblock %}
{% block content %}

    <main class="flex-grow bg-yellow-200">
      <section class="relative">
        <div class="max-w-6xl mx-auto px-4 sm:px-6 mt-28">
          <h1 class="text-3xl font-bold">Wordsmiths</h1>

          <!-- Author Cards -->
          <div
          class="
            py-5
            grid grid-cols-3
            sm:grid-cols-3
            md:grid-cols-6
            lg:grid-cols-6
            xl:grid-cols-6
            gap-5
           
          "
        >
          <!-- Card - 1 -->
              {% for obj in objects %}
                  <a href="{% url 'authors-detail' obj.id %}" class="overflow-hidden shadow-md bg-white
            hover:bg-yellow-100">
                    <div class="px-6 py-4 flex flex-col items-center">
                      <img
                          class="relative rounded-full"
                          src="{{ obj.profile_pic.url }}"
                          width="96"
                          height="96"
                          alt="Testimonial 01"
                        />
                      <div class="font-bold text-xl my-2 text-center">{{ obj.full_name }}</div>
                    </div>
                  </a>
              {% endfor %}
              {% comment %}
          <div class="rounded overflow-hidden shadow-lg">
            <div class="px-6 py-4 flex flex-col items-center">
              <img
                  class="relative rounded-full"
                  src="https://i.pravatar.cc/"
                  width="96"
                  height="96"
                  alt="Testimonial 01"
                />
              <div class="font-bold text-xl mb-2">Name</div>
            </div>
          </div>
          <div class="rounded overflow-hidden shadow-lg">
            <div class="px-6 py-4 flex flex-col items-center">
              <img
                  class="relative rounded-full"
                  src="https://i.pravatar.cc/"
                  width="96"
                  height="96"
                  alt="Testimonial 01"
                />
              <div class="font-bold text-xl mb-2">Name</div>
            </div>
          </div>
             {% endcomment %}
          
        </div>



        </div>
      </section>
    </main>
{% endblock %}