{% extends 'new/base.html' %}
{% load  static %}
{% block title %}Competition{% endblock %}
{% block content %}
<style>
  .bg{
    background: rgb(255, 280, 187);
  }
  .ebox{
    height: 50px;
    overflow: hidden;
  }
  </style>
<h1 class="rounded text-lg sm:text-4xl md:text-6xl tracking-widest bg overflow-hidden text-center py-4 shadow text-yellow-800 font-semibold uppercase" >Competitions</h1>

<main class="flex-grow px-4 md:px-0">
    <section class="flex flex-col items-center pb-10 max-w-6xl mx-auto mt-10">
        {% for obj in objects %}

{#            <h1 class="font-bold text-3xl mb-5">{{ obj.title }}#}
{#            </h1> #}
<div id="ebox" class="border ebox p-4 bg-white shadow-md">
            {% if request.user.is_superuser %}
                <a class="btn
                              text-white
                              bg-blue-500
                              hover:bg-blue-600
                              shadow"
                   href="{% url 'edit_competition' obj.id %}">Edit <i class="fas fa-edit"></i>
                </a>
            {% endif %}
            <p class="text-lg">
                {{ obj.desc|safe }}
            </p>
            {% if obj.thumbnail %}
                    <img class="w-full max-w-lg my-4" src="{{ obj.thumbnail.url }}" alt="">
{#                {% else %}#}
{#                    <img class="w-full max-w-lg my-4" height="330px" width="330px" src="{% static 'no-image.jpg' %}" alt="">#}
            {% endif  %}
            <div class="
                my-5
                grid grid-cols-1
                sm:grid-cols-1
                md:grid-cols-3
                lg:grid-cols-3
                xl:grid-cols-3
                gap-5
              ">
              <!-- Card - 1 -->
              <div class="rounded overflow-hidden shadow-lg p-2">
                <p class="font-semibold underline text-xl  mb-2">Accepted Media</p>
                <p class="text-gray-600 text-base">
                  {{ obj.acceptedMedia }}
                </p>
              </div>
              <div class="rounded overflow-hidden shadow-lg p-2">
                <p class="font-semibold underline text-xl  mb-2">Eligibility</p>
                <p class="text-gray-600 text-base">
                  {{ obj.eligibility }}
                </p>
              </div>
              <div class="rounded overflow-hidden shadow-lg p-2">
                <p class="font-semibold underline text-xl  mb-2">Deadline</p>
                <p class="text-gray-600 text-base">
                 {{ obj.deadline }}
                </p>

              </div>
                {% if obj.url %}
              <p>
                Official Website : <a class=" text-white bg-blue-500 hover:bg-blue-600
                px-2 py-1 rounded" href="{{ obj.url }}" target="_blank">Link</a>
              </p>
                {% endif %}
            </div>
          </div>
          <button onclick="seemore()" >See More</button>
            <hr style="height:2px;background-color: rgba(128, 128, 128, 0.459);" class="my-10">
        {% endfor %}
    </section>
</main>
<script>
  const sm = document.getElementById('seemore')
  const ebox = document.getElementById('ebox')
  function seemore(){
    ebox.classList.remove('ebox')
    console.log('pressed');
  }
  
</script>
{% endblock %}
