{% extends 'new/base.html' %}
{% load  static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h1 class="rounded text-lg sm:text-4xl md:text-6xl tracking-widest
            bg-yellow-100 overflow-hidden text-center py-4
            shadow text-yellow-300 font-semibold uppercase" >{{ header }}</h1>

<main class="flex-grow px-4 md:px-0">
    <section class="flex flex-col items-center pb-10 max-w-6xl mx-auto mt-20 ">
        <p>{{ obj|safe }}</p>
    </section>
</main>
{% endblock %}