{% extends 'new/base.html' %}
{% block title %}TAMARPAT{% endblock %}
{% load static %}
{% block content %}

  <main class="flex-grow break-words">

    <section class="flex flex-col items-center pb-10 max-w-6xl mx-auto mt-20 px-4 md:px-0">
      <!-- Blog Header -->
      <h1 class="font-bold text-5xl">Metal work in India</h1>
      <!-- Blog Meta -->

      <div class="flex items-center mt-20 mb-10 w-full mx-auto justify-around">

        <div class="flex items-center space-x-2">
          <img class="inline object-cover w-10 h-10 mr-2 rounded-full"
            src="https://images.pexels.com/photos/2589653/pexels-photo-2589653.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
            alt="Profile image" />
          <span class="font-semibold">Urvi Niranjan Chheda</span>
          <span>Jun 9 2020</span>
          <span>10min read</span>
        </div>

        <span>
          <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="1.5"
            stroke-linecap="round" stroke-linejoin="round" fill="none" shape-rendering="geometricPrecision">
            <circle cx="18" cy="5" r="3" />
            <circle cx="6" cy="12" r="3" />
            <circle cx="18" cy="19" r="3" />
            <path d="M8.59 13.51l6.83 3.98" />
            <path d="M15.41 6.51l-6.82 3.98" />
          </svg>
        </span>
      </div>

      <!-- Blog Content -->
      <div class="max-w-2xl text-lg  tracking-wide">


        <p>Sir Jamshedjee Jeejeebhoy, a weaver&#39;s son, sent a proposal to initiate an educational training of arts,
          for Indian native craftsmen, to the British Government of Bombay on 9th May 1853. The far-sighted vision to
          instill the capability of fine designing and develop the sense of aesthetics instead of traditional
          repetition, that lacked in the folks, was the vehement aim of Sir J.J. to establish a school that might serve
          the purpose as a centre for learning of &#39;Art and Craft&#39; to the skillful regional artisans. The pure
          purpose was to amalgamate &#39;the drawing and fine painting skills that British artists possessed&#39; with
          &#39;the diligent and deft skills of mediums that Indian natives expressed&#39;. Nevertheless, the future
          unfolds into a direction that was never fully true to the dreams of Sir Jamsedhjee Jeejeebhoy.</p>
        <p>In 19th century, the handicraft culture had its pre-eminent position in Bombay due to the native workers
          residing in the region. The occupation served them a considerable income for their livelihood that otherwise
          was met by farming. The long time observation of the existing culture germinated a thought in the
          philanthropic conscience of Sir Jeejeebhoy. The thought of enhancing the production of regional handicrafts to
          successfully aid the economic growth of the craftsmen and sustain the exquisiteness and prestige of the
          handmade artefacts that was endangered due to advent of Machine Age. The age, as foreseen by him, would subdue
          and surpass the importance and quantity, respectively, by the reason of the multiplicity of artefacts of
          greater finesse created in less than half of time.</p>
        <p>Sir J.J. School of Art was found on 1st March 1857. 3rd March 1857, a class in elementary drawing was started
          at the Elphinstone Institute, Bombay. The location of the school shifted through the changing venues due to
          increasing number of students and addition of departments corresponding to the lack of space until it
          established itself at the present location.</p>
        <p>The metal craftsmanship has been associated with India since the ancient period of Indus valley civilisation
          with excavation of copper ware that dated 1500 B.C. Metals, by their physical properties, have been derived as
          of greater significance for domestic, medicinal, religious, trade, arms and many other accessories uses. The
          discovery of property of malleability and smelting techniques enabled the workers to devise methods for
          meeting the utility and decorative purposes. Decorative gold, silver, copper and brasswares are manufactured
          in India throughout the traditions that have been carried forth by the chain of familial generations. The
          processes transferred through the genes.</p>
        <p>The chronology of the facts, events, government&#39;s orders etc. executed from the metal work department
          from the time of its beginning in Sir J.J. School of Art are presented below. The chronology illumines few
          selected women artists who contributed to the field during and after their formative years. The timeline tries
          and gauges the significance of the institute, by the medium, for government as well as private sectors of
          India, since time, through their fine and worthy production service.</p>
        <p><strong>1865</strong> : The Metal Work department opens. Mr. Michael John Higgins, a silversmith from
          Birmingham is selected as a craft teacher. The amount of Rs. 300 is allotted to them to bring the essential
          equipment before leaving for India. On 22nd March Mr. Higgins and his son Mr. Wiliam arrive and they receive
          Rs. 250 for their general expenses.</p>
        <p>The students who attended the three ateliers of Sculpture, Decorative painting and Metal work under Mr.
          Kipling, Mr. Griffiths and Mr. Higgins, respectively, received stipends and were regarded as apprentice.</p>
        <p>During this phase, the students were first made to finish the course of Drawing and then transferred to
          practical departments of crafts.</p>
        <p><strong>1868</strong> : In February, an Exhibition of Fine Arts is held showcasing specimens of metal work
          executed by the students.</p>
        <p>The manufacture from these three ateliers was provided to the various buildings and bought by Public Works
          Department for future infrastructural establishments. With the demand of work from various locations of India,
          the incessant practices by the students evolved them into an erudite craftsmen capable of confident releases.
        </p>
        <p><strong>1869-1870</strong> : Due to demise of Mr. Higgins, the atelier of metalwork stops its production. The
          work had suffered due to his deteriorated health.</p>
        <p><strong>1871-1872</strong> : Metal work re-opens with no authorial leader. Mr. Wilkins Terry superintends the
          working.</p>
        <p>From this academic year Metal work department ran meekly due to lack of the master. Consequently less number
          of students enrolled. The department&#39;s progress was halted. Despite the shortcomings, commissioned works
          were still produced as they proved good source of income to the institute.</p>
        <p><strong>1877</strong> : With the efforts of Mr. Terry, the Metal work restarts at a smaller scale. Under the
          supervision of Kutchhi artisans, the atelier produces Kutchh silver and Benaras brasswork. A silver hammer
          produced by Kutchh artisan is used by the Governor at the fixing of the last plate on the Dhond Manmad
          Railway.</p>
        <p><strong>1878-1879</strong> : The departments of craft are now separated as self-regulated, certificate course
          oriented workshops.</p>
        <p>In 1878, the new building of Sir J.J. School of Art was inaugurated by a show <em>Exhibition of the
            Industrial Arts.</em></p>
        <p> On 29th March 1890, as a gesture to new spaces for Art workshops a successful show of artefacts as
          <em>Industrial</em> <em>Art</em> <em>Exhibition</em> was inaugurated by Lord Reay. The workshops were formally
          renamed as Reay Art workshops.</p>
        <p><strong>1892-1893</strong> : In order to train the students in traditional technique of Enameling engraved
          design an enameller from Delhi is called upon. During that time, the well versed techniques of Enameling on
          etched and engraved metals is highly prevalent in north and north-western regions of India.</p>
        <p><em>&quot;The ornamental designing in metal was done in free hand designs and often graceful forms of birds
            and animals were interwoven in floral design. Illustrations from the epics were also used as decorations.
            Such examples had been stored at the Museum in the Victoria Gardens as well as in the School of
            Museums.&quot;</em></p>
        <p><em>- The Story of Sir JJ School of Art.</em></p>
        <p><strong>1898-1899</strong> : Mr. Dhurandhar, Mr. Taskar, and Mr. Agaskar are assigned by Mr. Greenwood to
          teach drawing to the Reay Art Workshops&#39; students.</p>
        <p><strong>1899-1900</strong> : Two copper doors are prepared for the Indian Trophy at Paris Exhibition. They
          are priced at 1000/-.</p>
        <p>By 1918, the metal workshops had eminent British as well as native leaders for all genre of metal ware
          production. Mr. F.R. Joseph for Enameling; Mr. Shankar Balaji for Repousse of Gold, Silver, Copper, Brass; Mr.
          Dwarkanath Balaji for Jewelry; Mr. B.N. Wadke for Shape making. There were separate three years courses for
          each of the stream mentioned. The eligibility for the courses was atleast 9th class and Government
          Intermediate Drawing Grade examination.</p>
        <p>The art of Enameling had its strong foothold, by then, in the department. The techniques of Enameling that
          comprises preparing copper or silver plates, making and layering enamels, firing, grinding and polishing was
          taught to the students. In case of other dynamic techniques, engraving and etching prior to the layering of
          enamels was instructed and demonstrated. The technique of Repousse, information regarding the properties of
          metals, joinery methods were also preached. The advent of all these techniques in the department projects an
          embryonic evolvement that would lead to fully grown present course structure of metal work.</p>
        <p><strong>1927</strong> : The classes for Jewelry comes to a halt.</p>
        <p><strong>1930</strong> : Mr. F.R. Joseph, Enameling teacher, is appointed as a new Superintendent of the Reay
          Art Workshops</p>
        <p><strong>1934</strong> : A large memorial tablet is executed in brass for the Colonel Gibroy Memorial
          Committee so as to place it in St. George&#39;s Hospital, Bombay.</p>
        <p><strong>1935-1936</strong> : Two silver village Challenge Shields are created for the Village Uplift Scheme
          of the Right Honourable Sir Fredrick Skykes.</p>
        <p>
          Mr.F.R. Joseph, enamellist, retires from his position as superintendent after 30 years of valuable service in the Reay Art Workshops.
        </p>
</code></pre>
        <p><strong>1937-1938</strong> : The metal roller used for printing textiles are engraved in the metal work
          department by the students.</p>
       
          <p>
            - A silver key with casket is created for the trustees of the Prince Wales Museum for the occasion of opening of new wing.
           

          </p>
          <p> - Large number of silver wares is sold at the Emporium, after Wembley Exhibition.</p>
        <p><strong>1939-1940</strong> : In order to enhance the economic situation of the enrolling sons of hereditary
          craftsman in the department, Government of Bombay establishes Sales Depot in Bombay for Village Industries.
          The craft section will display their artefacts at the depot so as keep redeeming the glory of past culture by
          modern economic means</p>
        <p><strong>1942-1943</strong> : A Silver shield is executed for Thakore Saheb of Amod.</p>
        <p><strong>1944-1945</strong> : Three silver plaques are executed for the Revenue Department of the Government
          of Bombay.</p>
        <p>- Two iron wall brackets are made for Government House, Bombay.</p>
        <p>The success rate of Reay Art workshops was unprecedented. Until this time the sale progressed, the artefacts
          were well loaded and the image globalised by the manufactures that made one to believe the members of the
          workshops as future craftsmen of India.</p>
        <p>&quot;<em>Art in Europe is often a thing which one can localise, classify and define. It can sometimes be
            enclosed in a catalogue and appraised on the walls of public galleries. It has its acknowledged discreet
            limits and need not intrude its existence upon the busy or polite domains of life except as a dinner
            companion-a sort of &quot;Man from Blankeys&quot;-to help out the conversation. In India, Art is a limitless
            thing. It cannot be imprisoned within circumscribing walls nor left behind when we reclaim our umbrellas at
            the exit of the Museum. It is around us; it pervades-it perfumes the air we breathe; it haunts our waking
            hours; it spangles with a thousand stars our drab and weary dreams. It is an idea blazoned everywhere
            through vehicles of flesh and fabric.&quot;</em></p>
        <p>W.E._. <em>Gladstone</em> _Solomon
          <em>The Bombay Revival of Indian Art</em>
        </p>
        <p>The duration of Second World War hampered the supply of raw materials for the departments. This resulted in
          slow execution of works. Thus the production was greatly suffered</p>
        <p><strong>1945-1946</strong> : Mr. G.N. Kavle is appointed as Officiating Teacher for Copper and Brassware. Mr.
          G.N. Kavle belonged to Goldsmith family.</p>
        <p>
          - Mr. N. B. Sabannavar is appointed as Officiating Teacher for Gold and Silverware.

        </p>
        <p> Late Professor Nagesh Bhimrao Sabannavar served Sir J.J. School of Art from 1945 until 1981 when he retired
          from his post of Head of Department of Arts and Craft. He had excellent proficiency in Metal Repousse. During
          his tenure in J.J. he was assigned to execute numerable plaques, shields, trophies, varied mementos in Silver
          as well as Copper. He had executed the coins of India Government Mint. His contribution in Metal Repousse is
          magnanimous to the history of metal work department.</p>
        <p>
          - M. C. Puttuswamy who served as Master metal craftsman resigns from the workshop.
        </p>
        <p>Mr. M.C. Puttuswamy was Master Craftsman in Repousse who acted as guiding teacher to Mr. N.B. Sabannavar. The
          pitch he used for embossing finer finishing details on the sheet constituted of incense (<em>dhup</em>),
          terracotta brick powder and proper measure of oils instead of the tar pitch that is utilised presently</p>
        <p>                - A notice board <span class="hljs-keyword">with</span> letters <span class="hljs-keyword">in</span> copper is executed <span class="hljs-keyword">for</span> Bombay Government Secretariat.

                        - Various accessories <span class="hljs-keyword">and</span> utility products are profusely created <span class="hljs-keyword">as</span> commercial wares <span class="hljs-keyword">by</span> <span class="hljs-keyword">the</span> students <span class="hljs-keyword">of</span> <span class="hljs-keyword">the</span> workshops.
</p>
        <p><strong>1947-1948</strong> : A silver plaque is created as an order from Agriculture and Rural Development
          Department of the Government of Bombay.</p>
        <p>                  -The showcase <span class="hljs-keyword">of</span> artefacts <span class="hljs-built_in">from</span> Reay Art Workshops is highly appreciated <span class="hljs-keyword">at</span> <span class="hljs-keyword">the</span> Taj Mahal Hotel under <span class="hljs-keyword">the</span> auspices <span class="hljs-keyword">of</span> Indian Institute <span class="hljs-keyword">of</span> Art <span class="hljs-keyword">in</span> Industry.
</p>
        <p><strong>1955-1956</strong> : Reay Art Workshops is now denoted as Department of Art and Crafts.</p>
        <p><strong>1960</strong> : With the efforts of appeal by Mr. N.B. Sabannavar, Board examination is introduced to
          the courses of Department of Arts and Craft.</p>
        <p>The Scholars from I.C. And V. I., Poona were deputed to Department of Art and Craft to learn and train
          themselves in the techniques conducted at all the workshops.</p>
        <p>In 1971, when Professor Mr. Vivek Das enrolled for Metalwork, he was the first and the only student pursuing
          two years Diploma eligible after a Foundation course of one year. There were students from the previous
          Diploma batches with him. At that time the institute allowed outsiders as &#39;Casual students&#39; by
          accepting nominal fees to learn the crafts. The casual students mostly comprised housewives, according to him.
          &quot;In the same year, Gold Control Act was levied by the government to impose the management of gold
          activities. The sons of goldsmith from Girgaon were allowed, as they were only 8th pass, to learn Engraving
          and Etching in the department. This would enable them to secure jobs in Mints&quot;, recalls Das Sir.</p>
        <p>Yogini Gandhi, as mentioned by Das Sir, was academically senior to him who worked efficiently in the medium.
          She was a recipient of Silver medal during her tenure in Art and Craft Department.</p>
        <p><strong>1973-1974</strong> : Professor N. B. Sabannavar designs and executes the models for coins of Rs. 20,
          Rs. 10 and 50 paise denominations for Government of India.</p>
        <p>During 1970s, Mr. C.K. Mhatre visited department as Guest Lecturer for Enameling. Das Sir, who worked with
          him for three years after completing his Diploma, reminisces, &quot;He was not an academic artist. He had
          learnt the technique for five days in one of enameling products&#39; shops at Vatican City. In Bombay, he had
          his rented studio at Bhulabhai Desai Institute. He made Jewelry and sold them. Later, he shifted to a larger
          studio at Alibaug as he was receiving commissioned orders for murals.&quot; Apparently, the workmen who
          assisted him developed good knowledge enough to open their own stores and earn by developing business in
          enameling and allied raw materials. Alibaug thus became a trending market, of those times, for enameled
          copperwares.</p>
        <p><strong>1979</strong> : Mr. Vivek Das is appointed as Teacher for Repousse and Enameling. He serves the
          department for next 25 years. He introduces an electrical furnace to the class for effective enameling
          replacing the Bombay gas company&#39;s pipeline fuel. He is incharge of setting and checking the examination
          papers of internal as well as the Government Board until the present.</p>
        <p>In 1979 and 1981, Hema Rajeshirke finished her double Diploma in Engraving and Enameling first and then
          Repousse, respectively. She has been consistently producing artworks and murals for national and international
          firms until from last year she has slowed down her expressions. During her extensive work production she had
          exclusively experimented to develop patina on the copper so as to develop chromatic variations for her
          artefacts.</p>
        <p><strong>1988</strong> : The Diploma courses of the Department of Arts and Crafts are now converted to fully
          fledged five year Bachelor of Fine Art courses with separate specialisations. Metal work department comprises
          of Repousse and Enameling as its major practical techniques inclusive of Technique and History as theory
          subjects. One of the first students of the degree batch, Vrushali Shekatkar optimistically continues to create
          and cast her designs in the medium. She is presently occupied in running her studio that manufactures
          trophies, perforated products, commissioned murals etc.</p>
        <p>The structure of the course kept changing to finally derive itself to four year, Bachelor of Fine Art, degree
          course in the year 2000.</p>
        <p>In 2004, the year Das Sir retired from his professorship, Shilpa Deorukhkar graduated from the department
          with keen zeal to explore in her favourite subject of Enameling. She presently works as Project Coordinator at
          IIGJ (Indian Institute of Gems and Jewelry). She reminisces, &quot;There was no teacher for our final year, so
          we would read from notes, available books and experimented varied techniques like Filigree, etc. on our
          own.&quot;</p>
        <p>In 2016, the Directorate of Art implements Master&#39;s Degree for Department of Arts and Crafts.</p>
        <p>The aims and objectives to rejuvenate the significance of Indian Art and Crafts paced through a regenerative
          flow by the efforts of noble minds to revive the regard of departments of Sir J.J. School of Art. Those
          evocative thoughts inspired to realise timely transformations in the Department of Arts and Craft. The
          transformational results were never satisfsctory. The lack of significance attributed to language and
          communication, the absence of theoretical information on chemistry of metal and enamels, the inappropriate
          measures to revive the syllabus with modern techniques etc. wends the direction of the metal department
          towards an impending territory. The sincere acceptance of the changing trail and assertive implementation of
          right conduct might hold back the situation and regrow its inherent significance.</p>
        <p>The vision that was dreamt by Sir Jamsedhjee Jeejeebhoy has metamorphosed into an indifferent form veiled by
          waves of contemporary art. It no longer defines under the ideologies of traditional native art. Nonetheless,
          it follows the same principles as well as principal techniques to achieve the outcome.</p>
        <p><strong>Glossary</strong></p>
        <p>Copper alloys: Alloys are mixture of two or more metals that project the parent metal&#39;s characteristics
          in the resultant. Brass, Bronze, etc. are Copper alloys. Brass is mixture of Copper and Zinc while Bronze, a
          mixture of Copper and Tin.</p>
        <p>Enameling: The technique of layering enamels on metal sheet through preparing the ground by essential flux
          and firing at higher temperature is called as Enameling. There are various kinds of Enameling like Champleve,
          Basse Taille, Cloissone, Plique-a-jour, Grissaile, etc.</p>
        <p>Engraving: The method to scrape the surface of metal sheet according to the drawing, using pointed tools is
          known as Engraving.</p>
        <p>Etching: The process of plunging the metal surface at the desired area by reacting it to appropriate acids
          for limited time is known as Etching.</p>
        <p>Joinery Method: There are multiple ways to join the sheets or cast metals that come under Joinery Method.
          Nailing, Rivetting, Hinges, Adhesives, Soldering, Brazing, Welding are the prominent methods of Joinery.</p>
        <p>Malleability: The property of metals to be flattened into sheets by hammering or pressurised on the surface
          is known as Malleability.</p>
        <p>Patina: The development of oxides, sulphates, nitrates, acetates etc. on the surface of Copper Alloys by
          natural exposure or by artificial means of applying solutions is known as Patina.</p>
        <p>Pitch: The soft solid substance prepared by mixing right quantities of tar, rosin, oil, wax to enhance the
          fine detailing in embossing on the metal sheet is known as Pitch.</p>
        <p>Repousse: The technique of embossing metal sheet by using tools, hammers, sand bags and pitch according to
          the drawing is known as Repousse.</p>
        <p>Shape making: The process of shaping the sheet metal by using hammers and various stakes according to the
          desired form is known as Shape making.</p>
        <p>Smelting: The process of extracting of pure metal from the ore using furnace is known as Smelting.</p>
        <p><strong>Acknowledgements</strong></p>
        <p>Mr. Vishwanath Sabale, Mrs. Smita Kinkale, Mr. Ravindra Jankar, Mr. Vivek Das, Mr. Prakash Rajeshirke, Mr.
          Paul Koli, Mr.Yashwant Bhavsar, Mr. Shreekant Khairnar, Mr. Abhijeet Salunkhe, Mrs. Hema Rajeshirke, Miss.
          Shilpa Deorukhkar, Mrs. Vrushali Shekatkar.</p>
        <p><strong>References</strong></p>
        <ol>
          <li>
            <p>Story of Sir J.J. School of Art, 1957</p>
          </li>
          <li>
            <p>W.E. Gladstone Solomon, The Bombay Revival of Indian Art, 1923</p>
          </li>
          <li>
            <p>Jamila Brij Bhushan, Indian Metalware,</p>
          </li>
          <li>
            <p>Indian Master Craftsman Nagesh Bhimrao Sabannavar, Nehru Centre Art Gallery, Mumbai, 2005</p>
          </li>
          <li>
            <p>Annual Reports of Sir J.J. School of Art, Sir J.J. School of Art Archives</p>
          </li>
          <li>
            <p>Roopa Bheda, Kaladeep, Sir JJ School of Art Archives</p>
          </li>
          <li>
            <p>Prospectus of Sir JJ School of Art</p>
          </li>
        </ol>








      

      </div>


      <div class="mt-20 mb-5 text-4xl font-bold">
        <p>Read More</p>
      </div>



      <!-- Show More Container -->
      <div class="
            p-10
            grid grid-cols-1
            sm:grid-cols-1
            md:grid-cols-3
            lg:grid-cols-3
            xl:grid-cols-3
            gap-5
          ">
        <!-- Card - 1 -->
        <div class="rounded overflow-hidden shadow-lg bg-white">
          <div class="text-center">
            <img src="{% static '/media/banner-1.jpeg' %}" alt="">
            <div class="py-2">
              <p class="font-bold text-xl mb-2">Title: Lorem ipsum </p>
              <p class="text-gray-700 text-base">
                Voluptatibus quia, nulla!
              </p>
            </div>
          </div>
        </div>
        <!-- Card - 2 -->
        <div class="rounded overflow-hidden shadow-lg bg-white">
          <div class="text-center">
            <img src="{% static '/media/banner-2.jpeg' %}" alt="">
            <div class="py-2">
              <p class="font-bold text-xl mb-2">Title: Lorem ipsum </p>
              <p class="text-gray-700 text-base">
                Voluptatibus quia, nulla!
              </p>
            </div>
          </div>
        </div>
        <!-- Card - 3 -->
        <div class="rounded overflow-hidden shadow-lg bg-white">
          <div class="text-center">
            <img src="{% static '/media/banner-6.jpeg' %}" alt="">
            <div class="py-2">
              <p class="font-bold text-xl mb-2">Title: Lorem ipsum </p>
              <p class="text-gray-700 text-base">
                Voluptatibus quia, nulla!
              </p>
            </div>
          </div>
        </div>
    </section>

    

    <!--  -->

  </main>


  <!-- Footer -->
 {% endblock %}