{% extends 'new/base.html' %}
{% block title %}TAMARPAT{% endblock %}
{% block content %}

<main class="flex-grow px-4 md:px-0">

    <section class="flex flex-col items-center pb-10 max-w-6xl mx-auto mt-20 ">

      <!-- Asian Contemporary -->
      <div>
        <h1 class="font-bold text-3xl mb-5">The Asian Contemporary Fine Art Competition
        </h1>
        <p class="text-lg">
          The Competition is an ideal way to exhibit your talent to a wider international audience. With a distinguished
          panel of jurors and more than $55,000 in valuable prizes, it is open to visual artists from Asia at any stage
          of their careers. Painting, sculpture, photography, drawing, mixed media, and print are the accepted mediums.
        </p>
        <img class="w-full max-w-lg my-4" src="./media/comp/asian.png" alt="">
        <div class="
            my-5
            grid grid-cols-1
            sm:grid-cols-1
            md:grid-cols-3
            lg:grid-cols-3
            xl:grid-cols-3
            gap-5
          ">
          <!-- Card - 1 -->
          <div class="rounded overflow-hidden shadow-lg p-2">
            <p class="font-bold text-xl mb-2">Accepted Media</p>
            <p class="text-gray-700 text-base">
              Painting, drawing, sculpture, photography, digital, printing, and mixed media are eligible.
            </p>
          </div>
          <div class="rounded overflow-hidden shadow-lg p-2">
            <p class="font-bold text-xl mb-2">Accepted Media</p>
            <p class="text-gray-700 text-base">
              Painting, drawing, sculpture, photography, digital, printing, and mixed media are eligible.
            </p>
          </div>
          <div class="rounded overflow-hidden shadow-lg p-2">

            <p class="font-bold text-xl mb-2">Accepted Media</p>
            <p class="text-gray-700 text-base">
              Painting, drawing, sculpture, photography, digital, printing, and mixed media are eligible.
            </p>

          </div>
          <p>
            Official Website : <a class="underline text-blue-600 bg-teal-100
            px-2 py-1 rounded" href="https://nyartcompetitions.com/">Link</a>
          </p>
        </div>

        <hr style="height:2px;background-color: rgba(128, 128, 128, 0.459);" class="my-10">

        <!-- Chelsea Competition -->

        <div>
          <h1 class="font-bold text-3xl mb-5">The Chelsea International Fine Art Competition

          </h1>
          <p class="text-lg">
            The Chelsea International Fine Art Competition is an exciting opportunity to show new and innovative work
            while gaining exposure to an extensive international audience. A distinguished panel of jurors will be
            awarding more than $70,000 in valuable prizes. The Competition is open to visual artists from around the
            world at any stage of their career working in painting, sculpture, photography, drawing, mixed media, and
            print.
          </p>
          <img class="w-full max-w-lg my-4" src="./media/comp/chelsea.png" alt="">
          <div class="
              my-5
              grid grid-cols-1
              sm:grid-cols-1
              md:grid-cols-3
              lg:grid-cols-3
              xl:grid-cols-3
              gap-5
            ">
            <!-- Card - 1 -->
            <div class="rounded overflow-hidden shadow-lg p-2">
              <p class="font-bold text-xl mb-2">Accepted Media</p>
              <p class="text-gray-700 text-base">
                Painting, drawing, sculpture, photography, digital, printing, and mixed media are eligible.
              </p>
            </div>
            <div class="rounded overflow-hidden shadow-lg p-2">
              <p class="font-bold text-xl mb-2">Eligibility</p>
              <p class="text-gray-700 text-base">
                All visual artists worldwide over the age of 18 are eligible to participate. Click here to view the
                complete

              </p>
            </div>
            <div class="rounded overflow-hidden shadow-lg p-2">

              <p class="font-bold text-xl mb-2">Deadline</p>
              <p class="text-gray-700 text-base">
                All images and entry fees must be received before May 4th 2022.

              </p>

            </div>
            <p>
              Official Website : <a class="underline text-blue-600 bg-teal-100
              px-2 py-1 rounded" href="https://nyartcompetitions.com/cifac/
              ">Link</a>
            </p>
          </div>

          <hr style="height:2px;background-color: rgba(128, 128, 128, 0.459);" class="my-10">


          <!-- Arnavas Vasudev -->

          <div>
            <h1 class="font-bold text-3xl mb-5">
              Arnawaz Vasudev Charities
            </h1>
            <p class="text-lg">
              A private trust, was set up by S.G. Vasudev following the untimely death of his artist wife Arnawaz in
              1988. The principal objectives of the Trust are to promote art education and art activities, and to
              provide financial assistance to deserving young artists and art students.

              The founding trustees are: Shanta Guhan, Girish Karnad and S.G. Vasudev.

            </p>

            <h2 class="font-semibold text-3xl mb-5">
              For financial assistance/scholarships for art students :
            </h2>

            <p class="text-lg">
              Send a letter of request along with a proposal, an up-to-date biodata, 6 photographs of selected art
              works, and a statement regarding financial status/needs by post/courier to one of the addresses below:
            </p>

            <span class="text-gray-700">Contact details:</span>
            <span>
              S.G. Vasudev
              Managing Trustee
              Arnawaz Vasudev Charities
              2/143 Cholamandal Artists’ Village, Injambakkam
              Chennai 600 041
              Or
              S.G. Vasudev Managing Trustee
              Arnawaz Vasudev Charities
              71, S.T. Bed Layout Koramangala, Bangalore 560 034
            </span>

            <p>E-mail: infoscholarships@vasudevart.com</p>

            <p>
              Official Website : <a class="underline text-blue-600 bg-teal-100
              px-2 py-1 rounded" href="http://www.vasudevart.com/arnawaz/index.html
              ">Link</a>
            </p>
          </div>

          <hr style="height:2px;background-color: rgba(128, 128, 128, 0.459);" class="my-10">


          <!-- TAF EMERGING ARTIST AWARDS- SOUTH ASIA 2021  -->

          <div>
            <h1 class="font-bold text-3xl mb-5">TAF EMERGING ARTIST AWARDS- SOUTH ASIA 2021
            </h1>
            <h2 class="font-semibold text-2xl my-5">The Arts Family London</h2>
            <h2 class="font-semibold text-xl my-5">Deadline: 31 July, 2021</h2>
            <p class="my-5 text-lg">
              The award is open to artists under 35 years from South Asia- India, Pakistan, Bangladesh, Bhutan, Nepal,
              Maldives, Afghanistan and Sri Lanka. Our aim is to support talented emerging artists from these regions
              and assist them in building their careers. The awards will go to the emerging artists showing innovation
              and mastery in their subject and working media. The artists are free to choose any working media -
              Painting | Sculpture | Photography | Digital | New Media | Design. There is no restriction on media or
              sizes.
            </p>
            <p>
              Official Website : <a class="underline text-blue-600 bg-teal-100
              px-2 py-1 rounded" href="https://www.theartsfamily.com/awards
              ">Link</a>
            </p>
          </div>

          <hr style="height:2px;background-color: rgba(128, 128, 128, 0.459);" class="my-10">


          <!-- Foundwork Artist Prize -->

          <div>
            <h1 class="font-bold text-3xl mb-5">Foundwork Artist Prize
            </h1>
            <p class="my-5 text-lg">
              The Foundwork Artist Prize is an annual juried award that we inaugurated in 2019 to recognize outstanding
              practices by contemporary artists. Starting in 2021, the Foundwork Artist Prize will honor two honorees,
              both of whom will receive unrestricted $10,000 grants and studio visits with each of this year's
              distinguished jurors.
              In order to be considered for the 2021 Foundwork Artist Prize, you will need to have an artist profile on
              Foundwork, with six (6) or more published artworks on your profile page, throughout the entire selection
              period: 5:00 pm PT, October 10, 2021 – 5:00 pm PT November 30, 2021.
            </p>
            <p>
              Official Website : <a class="underline text-blue-600 bg-teal-100
              px-2 py-1 rounded" href="https://foundwork.art/faq#foundwork-artist-prize
              ">Link</a>
            </p>
          </div>

          <hr style="height:2px;background-color: rgba(128, 128, 128, 0.459);" class="my-10">

          <!-- Embassy of France in India and Krishnakriti Festival  -->

          <div>
            <h1 class="font-bold text-3xl mb-5">Embassy of France in India and Krishnakriti Festival of Art & Culture
              Fellowship

            </h1>
            <p class="my-5 text-lg">
              A golden opportunity for qualified artists and students to Study in the finest colleges in art capital of
              the world. Shortlisted candidates will be offered the opportunity to travel to France and study at premier
              art institutes under fellowship. The winners would have French government scholarship holder status.

            </p>
            <h1 class="font-bold text-2xl mb-5">Scholarship Details
            </h1>
            <ul class="list-disc list-inside my-5">
              <li>First Prize of 615 Euros per month for duration of fellowship + Social Security + Return airfare from
                Delhi to Paris</li>
              <li>Second Prize of 615 Euros per month for duration of fellowship + Social Security + Return airfare from
                Delhi to Paris
              </li>
              <li>Third Prize of Certificate & Automatic Selection in case the first or second prize winners are unable
                to travel.
              </li>
              <li>
                Kalakriti Art Gallery will host an exhibition of art by First and Second prize winners.
              </li>
            </ul>
            <p>
              Official Website : <a class="underline text-blue-600 bg-teal-100
              px-2 py-1 rounded" href="http://www.krishnakriti.in/
              ">Link</a>
            </p>
          </div>

          <hr style="height:2px;background-color: rgba(128, 128, 128, 0.459);" class="my-10">

          <!-- GOVERNMENT OF INDIA Scholarships to Young Artists -->

          <div>
            <h1 class="font-bold text-3xl mb-5">GOVERNMENT OF INDIA Scholarships to Young Artists in Different Cultural
              Fields
            </h1>
            <p class="my-5 text-lg">
              This scheme focuses on assisting young artists of outstanding promise for advanced training within India.
            </p>
            <p class="my-5 text-lg">
              Offered by: Ministry of Culture,
            </p>
            <p class="my-5 text-lg">
              Deadline: Varies
            </p>
            <p class="my-5 text-lg">
              Requirements :
            </p>
            <ul class="list-disc list-inside my-5">
              <li>Indian nationals in the age group of 18 – 25 who have already acquired a degree of proficiency in the
                chosen field.</li>
              <li>The fields of Indian Classical Music, Indian Classical Dance, Theatre, Mime, Visual art, Folk,
                Traditional and Indigenous Arts, and Light Classical Music are covered here.

              </li>
              <li>Must have undergone a minimum of 5 years training with their Guru/Institutes.

              </li>
              <li>
                Candidates should have adequate knowledge in the connected arts/ disciplines.

              </li>
            </ul>
            <p>
              What it covers : INR 5000 per month for two years
            </p>
            <p class="my-5 text-lg">
              Official Website : <a class="underline text-blue-600 bg-teal-100
              px-2 py-1 rounded" href="https://www.inlaksfoundation.org/
              ">Link</a>
            </p>

          </div>

          <hr style="height:2px;background-color: rgba(128, 128, 128, 0.459);" class="my-10">

          <!-- CAREER -->


          <div>
            <h1 class="font-bold text-3xl mb-5">Career
            </h1>
            <p class="my-5 text-lg">
              India Government Mint (IGM) Kolkata invites online applications from eligible and willing Indian Citizens
              for recruitment of Engraver. The online registration process will be start from 21st June 2021 to 20th
              July 2021
            </p>

            <p class="my-3">
              <span class="font-bold">Age Limit: </span>
              Engraver-III: 18 to 28 years
            </p>
            <p class="my-3">
              <span class="font-bold">Pay Scale: </span>
              Engraver-III: ₹ 23910 - 85570/- (3rd PRC)
            </p>

            <h2 class="text-xl font-bold my-3">Educational Qualifications:
            </h2>

            <p class="font-semibold font-lg my-3">
              Engraver-III:
            </p>

            <p>(1) Bachelor of Fine Arts (Sculpture/ Metal Works/ Painting) with at least 55% marks.
            </p>

            <p class="my-2">
              ₹ 600/- (Non Refundable) per applicant for candidates belonging to Un-reserved, EWS and OBC Categories.
            </p>
            <p class="my-2">₹ 200/- Intimation charges only for SC / ST applicants.</p>
            <p class="my-2"> The fee should be made through online payment mode only.</p>

            <p class="my-5 text-lg">
              Official Website : <a class="underline text-blue-600 bg-teal-100
              px-2 py-1 rounded" href="https://igmkolkata.spmcil.com/Interface/JobOpenings.aspx?menue=5
              ">Link</a>
            </p>

          </div>

          <hr style="height:2px;background-color: rgba(128, 128, 128, 0.459);" class="my-10">



    </section>
  </main>

{% endblock %}