{% extends 'new/base.html' %}
{% load  static %}
{% block title %}Scholarship{% endblock %}
{% block content %}
<style>
        .base{
            border: 1px solid black;
            padding: 3em;
            margin: 5em;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            box-shadow:   0 0 0 2px black inset,
             0 0 0 4px white inset,
             0 0 0 6px black inset,
             0 0 0 8px white inset,
             0 0 0 10px black inset;
        }
        .authimg{
            height:250px;
            width:250px;
            border-radius: 50%;
            background: blue;
            overflow: hidden;
            margin-bottom: 2em;
            box-shadow: 5px 5px 10px ;
        }
        .bio{
            color: darkslategray;
        }
        ul{
            list-style: none;
            margin-top: 3em;
        }
        li{
            margin: 1em 0;
            border: 1px solid black;
            width: 15em;
            min-width: 5em;
            text-align: center;
            padding: 1em;
            border-radius: 20px;
        }
        li:hover{
            background: chartreuse;
            font-style:italic;
        }
        a{
            text-decoration: none;
            color: #333;
            font-weight: bold;
        }
    </style>
<main class="flex-grow bg-tur" xmlns="http://www.w3.org/1999/html">

    <section class="flex flex-col justify-center items-center pb-10 max-w-6xl mx-auto mt-20">
        <img class="authimg" src="{{ object.profile_pic.url }}" alt="">
        <article class="bio">{{ object.bio }}</article>
{#        <div>#}
{#            <ul>#}
{#                <li><a href="/">Thesis1</a></li>#}
{#                <li><a href="/">Thesis2</a></li>#}
{#                <li><a href="/">Thesis3</a></li>#}
{#                <li><a href="/">Thesis4</a></li>#}
{#            </ul>#}
{#        </div>#}
        <div class="
            p-10
            grid grid-cols-1
            sm:grid-cols-1
            md:grid-cols-3
            lg:grid-cols-3
            xl:grid-cols-3
            gap-5">
        <!-- Card - 1 -->
          {% for obj in objects %}
          <a href="{{ obj.get_absolute_url }}" class="rounded hover:bg-yellow-200 overflow-hidden shadow-md bg-white pb-4">
            <div class="text-center">
              <div class="h-36 overflow-hidden">
                {% if obj.thumbnail.url %}
                    <img href="{{ obj.get_absolute_url }}" src="{{ obj.thumbnail.url }}" alt="">

                {% else %}
                    <img href="{{ obj.get_absolute_url }}" src="{%  static 'media/banner-1.jpeg' %}" alt="">
                {% endif %}
              </div>
              <div class="py-4">
                <p class="font-semibold text-xl mb-2 hover:underline" href="{{ obj.get_absolute_url }}">{{ obj.title }} </p>
                <p class="text-gray-900 text-xl my-4">
                  {{ obj.author.full_name }}
                </p>
              </div>
            </div>
          </a>
          {% endfor %}
      </div>
    </section>
</main>
{% endblock %}