{% extends 'new/base.html' %}
{% block title %}TAMARPAT{% endblock %}
{% block content %}

<main class="flex-grow">
    <section class="relative">

      <div class="max-w-6xl mx-auto px-4 sm:px-6 mt-28">
        
        <h1 class="text-6xl rounded bg-yellow-100 py-4 text-center shadow text-yellow-300 font-semibold">SUBMIT</h1>

        <p class="my-6">
          Artist/Writer/Student are requested to submit only their own and
          original Project/thesis/research paper. Please submit your work
          strictly according to rules.
        </p>

        <form method="POST" action="" class="mb-2 bg-gray-100 text-gray-800 rounded-md flex border p-6 flex-col pb-4">
            {% csrf_token %}
          <span>Project / thesis Title :* </span>
          <input type="text" name="thesis_title" required="True" class="shadow
              rounded
              p-2
              w-full
              focus:outline-none
              focus:ring-2
              focus:ring-teal-400
              focus:border-transparent my-2 border" />

          <span>Name of corresponding Artist/Student:*</span>
          <input type="text" name="student_name" required="True" class="shadow
              rounded
              p-2
              w-full
              focus:outline-none
              focus:ring-2
              focus:ring-teal-400 border
              focus:border-transparent my-2" />

          <span>Email of corresponding Artist/Student:* </span>
          <input type="text" name="student_email" required="True" class="shadow
              rounded
              p-2
              w-full
              focus:outline-none
              focus:ring-2
              focus:ring-teal-400
              focus:border-transparent my-2 border" />

          <span>Included In</span>
          <div class="flex space-x-4 items-center mt-2">
            <input type="checkbox" name="ArtProjects_checkbox" />
            <span>Art Projects</span>
          </div>
          <div class="flex space-x-4 items-center mt-2">
            <input type="checkbox" name="Articles_checkbox"/>
            <span>Articles</span>
          </div>
          <div class="flex space-x-4 items-center mt-2">
            <input type="checkbox" name="Thesis_checkbox" />
            <span>Thesis</span>
          </div>
          <div class="flex space-x-4 items-center mt-2">
            <input type="checkbox" name="ResearchPaper_checkbox"/>
            <span>Research Paper</span>
          </div>

          <div class="my-4">
            <span>Short Bio</span>
            <textarea name="bio" class="rounded
              p-2
              w-full
              focus:outline-none
              focus:ring-2
              focus:ring-teal-400
              focus:border-transparent border  my-2"></textarea>
          </div>



          <span>Self Photograph</span>
          <div class="my-4 bg-grey-lighter">
            <label
              class="w-36 flex flex-col items-center px-2 py-3 bg-white text-blue rounded-lg shadow tracking-wide uppercase border border-blue cursor-pointer">
              <svg class="w-8 h-8" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path
                  d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z" />
              </svg>
              <span class="mt-2 text-base leading-normal">Select a file</span>
              <input type='file' class="hidden" name="Self_Photograph" />
            </label>
          </div>

          <span>Upload your Project / thesis/research work in Ms-word only (.doc
            or.docx)*
          </span>
          <div class="my-4 bg-grey-lighter">
            <label
              class="w-36 flex flex-col items-center px-2 py-3 bg-white text-blue rounded-lg shadow tracking-wide uppercase border border-blue cursor-pointer">
              <svg class="w-8 h-8" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path
                  d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z" />
              </svg>
              <span class="mt-2 text-base leading-normal">Select a file</span>
              <input type='file' class="hidden" name="Project" required="True"/>
            </label>
          </div>


          <div class="flex space-x-4 items-center mt-2">
            <input type="checkbox" name="Copyright_checkbox" required='True' />
            <span>1. The article/Project does not contravene any existing copyright or any other third party rights.
            </span>
          </div>

          <div class="flex space-x-4 items-center mt-2">
            <input type="checkbox" name="PersonalRights_checkbox" required='True' />
            <span>2. The article/Project contains no such material that may be unlawful, infringe any proprietary or
              personal rights of others.
            </span>
          

          <button class="
          mt-10
          ml-10
          btn
          text-white
          bg-blue-500
          hover:bg-blue-600
          sm:w-auto sm:mb-0
          focus:ring-teal-500
          
        " style="width: 120px;" type="submit">
            Submit
          </button>
</div>



        </form>
      </div>
    </section>
  </main>

{% endblock %}