{% extends 'new/base.html' %}
{% load  static %}
{% block title %}TAMARPAT{% endblock %}
{% block content %}
<main class="flex-grow bg-tur" xmlns="http://www.w3.org/1999/html">

    <section class="flex flex-col justify-center items-center pb-10 max-w-6xl mx-auto mt-20">

        <h2>{{ object.title }}</h2>
                <a class="btn
                          text-white
                          bg-teal-600
                          hover:bg-teal-700
                          mb-4
                          shadow" href="{% url 'edit_thesis' object.slug %}"> Edit </a>
        <div class="w-screen h-screen relative">
            <div class="w-11/12 h-screen z-10 absolute bg-transparent"></div>
        </div>

    </section>
            <div id="app">
              <div role="toolbar" id="toolbar">
                <div id="pager">
                  <button data-pager="prev">prev</button>
                  <button data-pager="next">next</button>
                </div>
                <div id="page-mode">
                  <label>Page Mode <input type="number" value="1" min="1"/></label>
                </div>
              </div>
              <div id="viewport-container"><div role="main" id="viewport"></div></div>
            </div>
            <script src="https://unpkg.com/pdfjs-dist@2.0.489/build/pdf.min.js"></script>
            <script src="{% static 'src/index.js' %}"></script>
            {% if object.pdf %}
                <script>
                    initPDFViewer("{{ object.pdf.url }}");
                </script>
            {% else %}
                <script>
                    initPDFViewer("https://drive.google.com/file/d/1Gwp42UTzSf2y9lnQjVQdeto0A7mK1SAJ/view?usp=sharing");
                    {#initPDFViewer("https://www.w3docs.com/uploads/media/default/0001/01/540cb75550adf33f281f29132dddd14fded85bfc.pdf");#}
                </script>
            {% endif %}
</main>

{% endblock %}



<!-- Ingore it -->

<h1>TEST</h1>
    <h2>Hard - Google Drive</h2>
    <iframe src="https://drive.google.com/file/d/1Gwp42UTzSf2y9lnQjVQdeto0A7mK1SAJ/view?usp=sharing"
                    width="100%" height="500px">
    </iframe>
    <h2>Hard - Github</h2>
    <iframe src="https://github.com/rushichandgude/ThesisProject/blob/ecd580483959c1617296a741fe89de040c264415/Introduction_to_algorithms-3rd%20Edition.pdf"
                    width="100%" height="500px">
    </iframe>
    <h2>Test</h2>
    <iframe src="https://www.w3docs.com/uploads/media/default/0001/01/540cb75550adf33f281f29132dddd14fded85bfc.pdf#toolbar=0"
                    width="100%" height="500px">
    </iframe>

    