{% extends 'new/base.html' %}
{% load  static %}
{% block title %}TAMARPAT{% endblock %}
{% block content %}

    <main class="flex-grow bg-yellow-200" xmlns="http://www.w3.org/1999/html">

    <section class="flex flex-col items-center pb-10 max-w-6xl mx-auto mt-20">      
    <form method="get">
     <div class="flex relative w-full px-10" style="max-width: 600px">
      <!--  <input name="search_query" class="form" method="get">
      <div class="flex relative w-full px-10">
        <div x-data="{show: false}" @click.away="show = false">
          <button @click="show = ! show" class="block bg-blue-600 bg-blue-600 text-gray-200 rounded-lg px-6 text-sm py-3 overflow-hidden border-2 border-gray-600 focus:outline-none focus:border-white">
              <div class="flex">
                  <span>Dropdown</span> 
                  <svg class="fill-current text-gray-200" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
              </div>
          </button>
          <div x-show="show" class="absolute z-10 mt-2 py-2 w-48 bg-white rounded-lg shadow-xl">
              <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-indigo-500 hover:text-white">Account settings</a>
              <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-indigo-500 hover:text-white">Support</a>
              <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-indigo-500 hover:text-white">Sign out</a>
            </div>
          </div> -->
      <select class="shadow-md">
        <option disabled hidden selected>category</option>
        <option href="{% url 'competition' %}">Hindi</option>
        <option>Marathi</option>
        <option>English</option>
      </select>
        
        <input name="search_query" class="
        ml-4
        p-2
        md:w-72
        w-48
        focus:outline-none
        focus:ring-2
        focus:ring-teal-400
              focus:border-transparent
              " type="text" placeholder="Search" />
              <button type="submit" class="absolute right-16 top-2">
                <svg viewBox="0 0 24 24" width="24" height="24" stroke="#444" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" fill="none" shape-rendering="geometricPrecision">
                <path d="M11 17.25a6.25 6.25 0 110-12.5 6.25 6.25 0 010 12.5z" />
                <path d="M16 16l4.5 4.5" />
              </svg>
            </button>
          </div>
          
          
     

    </form>
      <!-- Cards Container -->
      <div class="
            p-10
            grid grid-cols-1
            sm:grid-cols-1
            md:grid-cols-3
            lg:grid-cols-3
            xl:grid-cols-3
            gap-5
          ">
        <!-- Card - 1 -->
          {% for obj in objects %}
          <a href="{{ obj.get_absolute_url }}" class="rounded hover:bg-yellow-100 overflow-hidden shadow-md bg-white pb-4">
            <div class="text-center">
              <div class="h-36 overflow-hidden">
                {% if obj.thumbnail.url %}
                    <img href="{{ obj.get_absolute_url }}" src="{{ obj.thumbnail.url }}" alt="">

                {% else %}
                    <img href="{{ obj.get_absolute_url }}" src="{%  static 'media/banner-1.jpeg' %}" alt="">
                {% endif %}
              </div>

              <div class="py-4">
                <p class="font-semibold text-xl mb-2 hover:underline" href="{{ obj.get_absolute_url }}">{{ obj.title }} </p>
                <p class="text-gray-900 text-xl my-4">
                  {{ obj.author.full_name }}
                </p>
              </div>
            
            </div>
          </a>
          {% endfor %}
      </div>

        <!-- Card - 2 -->
    </section>
  
    <!-- English Marathi Starts  -->


    <!-- Engligh Marathi Ends -->

    <!-- Features Section -->

  </main>
  {% endblock %}
